/*
    Modified from http://dfsq.github.io/ngView-animation-effects/
*/

.fade {
  .transition;

  &, &.ng-enter-active, &.ng-leave {
    opacity: 1;
  }

  &.ng-enter, &.ng-leave-active {
    opacity: 0;
  }

  &.ng-enter, &.ng-leave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
}