body {
  padding: 0;
}

h3 {
  font-size: 20px;
}
#printInfo {
  margin-top: 1em;
}

.shadow {
  box-shadow: none !important;
}

a, a:visited {
  text-decoration: none;

  &[href]:after {
    content: none;
  }
}