@black: #000000;

button, #start, #notcomplete, #footer {
  display: none !important;
}

#cv {
  display: block !important;
}

.shadow {
  box-shadow: none !important;
}

a, a:visited {
  color: @black;
  text-decoration: none;
}

#cv .row {
  margin-bottom: 0 !important;
}

h1, h2, h3 {
  line-height: 20px !important;
  margin: 0 !important;
}

/* width fixes */
.span3 {
  width: 166px;
}
#sidebar, #moi {
  .span3;
}