/* vars */
@serif: Merriweather, serif;

/* style classes */
.title {
  font-weight: bold;
}

.shadow {
  box-shadow: 0 3px 6px 0 #555555;
}

/**********/

body {
  font-family: @serif;
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 1170px;
  margin: 0 auto;
}

#cv {
  ul li {
    list-style: none;
  }
}

/*
.row, [class*="span"] {
  border: 1px solid;
}
*/