* {
	font-family: 'Noto Sans', sans-serif !important;
}

body {
	padding: 2em 0;
}

a {
    text-decoration: none;
}

h1 {
	font-size: xx-large;
}

h1, #bio, #social {
	margin: 1em 0;
}

span.redirect { 
	unicode-bidi:bidi-override; 
	direction: rtl; 
}

.shadow {
	box-shadow: 0 3px 6px 0 #aaa;
}

#social a {
    background-color: white;
    border: 1px solid black;
    color: black;
    display: inline-block;
    font-weight: bold;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
}

#social a:hover {
	color: blue;
	box-shadow: 0 3px 6px 0 lightblue;
}

#social a:active {
	color: orange;
	box-shadow: 0 3px 6px 0 orange;
}

img#moi {
	width: 100%;
	max-width: 640px;
}