* {
	font-family: 'Noto Sans', sans-serif !important;
}

body {
	padding: 2em 0;
}

h1 {
	font-size: xx-large;
}

h1, #bio, #social {
	margin: 1em 0;
}

span.redirect { 
	unicode-bidi:bidi-override; 
	direction: rtl; 
}

.shadow {
	box-shadow: 0 3px 6px 0 #aaa;
}